@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  
}

.sidebar {
  position:fixed;
   background-color:rgb(238, 230, 230);
  font-family: 'Fira Sans', sans-serif;
  transition:transform 0.3s ease-in;
  padding-bottom: 30px; 
}
.sidebar nav {
  padding: 20px ;
  line-height: 30px;
  
}
.sidebar nav li {
  list-style:none;
  font-size:30px;
  padding:33px 0;
}
.sidebar nav li a {
  text-decoration: none;
  color:rgb(8, 8, 8);
}
.main {
  /* background-color: yellow; */
  padding-left: 100px;
  width:90vw;
}
.container {
  display:flex;
}
.info-container{
  /* background-color:rgb(255, 0, 212); */
  height:58vh;
  width:70vw;
  margin: 144px auto;
  display:flex;
  justify-content:space-around;
}
.devPic Img{
  height:58vh;

}
.devInfo{
  display:flex;
  flex-direction:column;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;
}
.hello{
  font-size:65px;
  

}
.name{
  font-size:50px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}
.about{
  font-size: 30px;
}
.buttons{
  margin-top:34px;
}
.btn{
  padding: 9px 14px;
  border-radius:22px;
  color:white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 21px;
  margin:0 3px;
  cursor:pointer;
}
.btn:hover{
  background-color:white;
 color: dodgerblue;
}
.moreabout{
  font-size: 22px;
  margin-top:23px;
  font-family: 'Fira Sans', sans-serif;
}
.formdesign{
  font-size:20px;
}
.formdesign input{
  width:50%;
  padding:12px 20px;
  border:1px solid blue;
  margin:14px;
  border-radius:4px;
  font-size:15px;
}
.formerror{
  color:red;
}
.but{
  border-radius: 9px;
  width:100px;
  height:50px;
  font-size: 25px;
  margin:22px 20px;

}
.contactform{
  padding-top:144px;
  padding:0 34px;
  font-family: 'Fira Sans', sans-serif;
}
.contactform h1{
  font-family: 'Source Code Pro', monospace;
  padding:12px 0;
}
.contactform  form div {
  padding:10px 0;
  display:flex;
  flex-direction: column;
}
.contactform form div input{
  width:26vw;
  border-radius:5px;
  margin:6px 0 0 0;
  padding:3px;
}
#emailHelp{
  font-size:11px;
  color:midnightblue;
  margin:0 5px;
  padding:3px 0 0;
}
#form-check{
  flex-direction: row;

}
#form-check input{
  width:24px;
  margin:3px 0;


}
.btn-sm{
  font-size:10px;
  padding: 7px  13px;
  margin: 10px 0;


}
.blogitem{
  margin: 20px;
  font-family: 'Fira Sans', sans-serif;  
}
 h1{
  font-family: 'Fira Sans', sans-serif; 
  margin:23px;

}
p{
  font-family: 'Source Code Pro', monospace;
}
.intro h2{
  font-family: 'Fira Sans', sans-serif; 
  margin:12px;
}

.intro p{
  font-family: 'Source Code Pro', monospace;
  margin:12px;
}
.skillcontainer{
  padding:12px;
}
.skill{
  width:265px;
  height:6px;
  background-color: red;
  border:2px solid black;
}
.skill-item{
  display:flex;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  font-weight:900 ;

}
.hundred{
  width:265px;
  background-color: blueviolet;
}
.fifty{
  width:125px;
  background-color:aqua;
}
.t5{
  width:75px;
  background-color: yellow;
}
.sidebarGo{
  transform: translate(-443px,0px);
  position:absolute;
}
@media (max-width:1615px) {
  
   *{
    /* background-color:red; */
   }
   
  
}
.hamburger{
  position:absolute;
  left:10px;
  cursor:pointer;
}
.cross{
  margin-top: 10px;
  margin-left:110px;
  cursor:pointer;

}
.ham{
  margin-top:10px;
}